body{
  background-color: #ccc;
}
#yin-yang {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  margin: 100px auto;
  animation-name: spin;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background: linear-gradient(to bottom, #fff 0%,#fff 50%,#000 50%,#000 100%);
}
#yin-yang::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  background: #fff;
  border: 40px solid #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
#yin-yang::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 100px;
  background: #000;
  border: 40px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

@keyframes spin{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}