* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    position: relative;
}

.inputWrapper {
    position: relative;
    display: inline-block;
}

.floatDiv {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #b8b8b8;
}

.inputWrapper {
    float: left;
}

.inputWrapper+button {
    float: left;
}

.inputWrapper+button {
    background: #3988fb;
    border: none;
    font-size: 14px;
    padding: 0 20px;
    color: white;
}

.inputWrapper+button:focus {
    outline: none;
}

.inputWrapper+button:hover {
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
    background: #3781f0;
}

.inputWrapper input[type=text] {
    border: 1px solid #b8b8b8;
    width: 540px;
    height: 35px;
    line-height: 35px;
    padding-left: 8px;
    font-size: 15px;
}

.inputWrapper input[type=text]:focus {
    outline: none;
    border-color: #4b94fc;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.splitLine {
    width: 0;
    height: 16px;
    border-left: 2px solid;
    margin: 0 10px;
}

.inputWrapper svg.icon {
    width: 20px;
    height: 20px;
    fill: #b8b8b8;
}

.inputWrapper svg.icon:hover {
    fill: #4b94fc;
    cursor: pointer;
}

.suggestion {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
.suggestion .active{
    display: block;
}